@import '../../components/journaling/journal.entry.syles.scss';

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .home-container {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .entries-container {
        margin-top: 24px;
        display: flex;
        flex-flow: column;
        gap: 16px;
        width: 80%;
        max-width: 800px;
    }

    .add-entry {
        position: fixed;
        margin-top: 20px;
        background-color: $main-blue;
        top: 70%;
        right: 25px;


        @media (min-width: $mobile) {
            position: absolute;
            right: 60px;
        }

        svg {
            color: white;
            width: 36px;
            height: 36px;
        }
    }

    .add-entry:hover {
        background-color: $main-blue;
    }
}

.welcome-dialog {
    .welcome-dialog-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;

        button {
            min-width: 164px;
        }
    }
}