.calendar-container {
    margin: 16px 0 60px 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
    max-width: 1200px;

    .calendar-container-full-calendar {

        .fc-theme-standard td, .fc-theme-standard th {
            border: none;
        }
        .fc-theme-standard td,
        .fc-theme-standard {
            border: none;
        }

        .fc-theme-standard .fc-scrollgrid {
            border: none;
        }


        .fc .fc-daygrid-day.fc-day-today {
            background: #245b9e59;
        }

        .fc-prev-button,
        .fc-next-button {
            background-color: transparent;
            border: none;
            color: $main-blue;
            font-size: 24px;
            margin: 0 8px;
        }

        .calendar-entry {
            display: flex;
            align-items: flex-end;
            flex-flow: column;

            p {
                font-size: 14px;
                color: $dark-blue;

            }


        }

        a.fc-event {
            background-color: transparent;
            border: none;
        }

        .fc-header-toolbar {
            margin-top: 28px;
        }

    }

    .calendar-entry-info-container {
        margin-top: 16px;

        .calendar-entry-info-date {
            p {
                font-weight: 600;

            }
        }

        .calendar-entry-info {
            display: flex;
            flex-flow: column;
            gap: 8px;
            border-bottom: 1px solid #E8E8E8;
            padding: 6px;
            margin: 8px 4px;
            cursor: pointer;

            .calendar-entry-info-header {
                display: flex;
                flex-flow: row;
                gap: 4px;
                text-align: start;


                .calendar-entry-info-text {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .calendar-entry-tags {
                display: flex;
                align-self: flex-start;
                gap: 12px 12px;
                display: flex;
                margin: 16px;

                .calendar-entry-tags-tag {
                    display: flex;
                    gap: 0 4px;
                    background-color: rgba(232, 232, 232, 0.70);
                    padding: 4px;
                    border-radius: 25%;
                    align-items: center;

                    .calendar-entry-tags-tag-text {
                        font-size: 17px;
                    }

                    svg {
                        background-color: transparent;
                        color: #BDBDBD;
                    }
                }
            }

        }
    }


}